* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.center {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header {
    background: #222222;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__search {
    margin-left: 41px;
}

.header__right img:not(:last-child) {
    margin-right: 33px;
}

.promo {
    background: #F1E4E6;
    display: flex;
    padding-left: calc(50% - 800px);
    padding-right: calc(50% - 800px);
}

.promo__img {
    width: 50%;
    display: flex;
}

.promo__photo {
    width: 100%;
}

.promo__text {
    width: 50%;
}

.promo__content {
    margin-top: 40%;
    border-left: 12px solid #F16D7F;
    padding-left: 16px;
}

.promo__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    color: #222222;
}

.promo__info {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;

    color: #222222;
}

.select {
    color: #F16D7F;
}

.sale {
    padding-top: 64px;
    padding-bottom: 96px;
}

.sale__top {
    display: flex;
    padding-bottom: 30px;
}

.sale__img {
    width: 100%;
}

.sale__item {
    position: relative;
}

.sale__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sale__item:not(:last-child) {
    margin-right: 30px;
}

.sale__p {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    text-align: center;

    color: #FFFFFF;
}

.sale__heading {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    text-align: center;

    color: #F16D7F;
}

.items {
    padding-left: calc(50% - 570px);
    padding-right: calc(50% - 570px);
}

.header__items {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
}

.items__text {
    text-align: center;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.fetured__top {
    display: flex;
    gap: 30px;
    margin-top: 48px;
} 

.fetured__bottom {
    display: flex;
    gap: 30px;
    margin-top: 30px;
    margin-bottom: 48px;
}

.fetured__one {
    background-color: #F8F8F8;
}

.fetured__img {
    margin-bottom: 26px;
}

.fetured__text {
    margin-left: 18px;
    margin-right: 28px;
}

.fetured__header {
    margin-bottom: 12px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    font-weight: bold;
    color: #000000;
}

.fetured__t {
    margin-bottom: 18px;
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
}

.fetured__price {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.fetured__browse {
    border: 1px solid #FF6A6A;
    width: 211px;
    height: auto;
    margin: 0 auto;

}

.browse__text {
    text-align: center;
    padding: 14px 38px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #F26376;
}

.footer {
    margin-top: 96px;
}

.footer__top {
    background-color:#222224;
    height: 340px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.footer__block {
    display: flex;
    flex-direction: column;
}

.footer-top__img {
    align-self: center;
    margin-bottom: 28px;
}

.footer-top__text {

}

.footer-top__header {
    text-align: center;
    margin-bottom: 16px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 19.96px;
    line-height: 24px;
    color: #FBFBFB;
}

.footer-top__p {
    font-family: Lato;
    font-style: normal;
    font-weight: 300;
    font-size: 13.972px;
    line-height: 17px;
    text-align: center;
    color: #FBFBFB;
}

.footer__center {
    position: relative;
}

.footer-img__backround {
    position: relative;
    width: 100%;
    height: 100%;
}

.footer__center-block {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    margin: 86px 230px;
    gap: 326px;
}

.footer__center-items {
}

.footer-img__center {
    margin-bottom: 30px;
}

.footer-img__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
}

.footer__center-form {
}

.footer__form-header {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
}

.footer__form-text {
    font-family: Lato;
    font-style: normal;
    font-size: 18px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
}

.footer__input {
    background: #E1E1E1;
}

.footer__button {;
    background: #F16D7F;
}

.footer__bottom {
    background: #222222;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__bottom-left {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;
}